.checkbox__container {
  display: flex;
  width: 100%;
  padding: 1.3rem 1.6rem;
  align-items: center;
  background-color: var(--UiElementBackground);
  gap: 1rem;
  border-radius: .4rem;
  &:has(.checkbox__label:hover) {
    background-color: var(--UiElementBackgroundHover);
  }
}


.checkbox {
  background-color: var(--backgroundApp);
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid hsla(216, 15%, 57%, 0.25);
}
.checkbox[data-state='checked'] {
  background: var(--backgroundUiElementHover);
}
.checkbox__indicator {
  color: var(--background);
}

.checkbox__label {
  color: var(--text);
  line-height: 1;
  font-size: 12px;
  font-weight: var(--bold);
  cursor: pointer;
}

.checkbox__label {
  color: var(--text);
  line-height: 1;
  font-size: 12px;
  font-weight: var(--bold);
  cursor: pointer;
}
.checkbox__label.completed {
 color: var(--grayText);
 text-decoration: line-through;
}
