.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: var(--size4);
  width: 28rem;
  min-height: 8.8rem;
  border-radius: var(--medium);
  background: var(--backgroundApp);
  box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);
}
.card__title {
  font-size: var(--fontSize3);
  font-weight: var(--bold);
}

.card__description {
  font-size: var(--fontSize1);
  font-weight: var(--bold);
  color: var(--navLinkText);
}
