.select__root {
  width: 100%;
}
.select__trigger {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: .4rem;
  padding: 1.6rem .8rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  gap: .5rem;
  background-color: white;
  border: 1px solid transparent;

 &:hover,
 &:focus,
 &:active,
 &:focus-visible  {
  border: 1px solid var(--borderActive) !important;
  outline-color: var(--borderActive);
 }
}
.select__trigger[data-placeholder] {
}

.select__icon {
}

.select__content {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
}

.select__viewport {
  padding: 5px;
}

.select__item {
  font-size: 13px;
  line-height: 1;
  color: var(--violet-11);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}
.select__item[data-disabled] {
  color: var(--highContrastText);
  pointer-events: none;
}
.select__item[data-highlighted] {
  outline: none;
  background-color: var(--violet-9);
  color: var(--highContrastText);
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--highContrastText);
}

.SelectSeparator {
  height: 1px;
  background-color: var(--violet-6);
  margin: 5px;
}

.select__item-indicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.select__scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--highContrastText);
  cursor: default;
}
